<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Social Scanner</title>

    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📡</text></svg>" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">
    <link rel="stylesheet" href="../styles/main.css">

    <meta name="og:title" content="Social Scanner 📡">
    <meta name="og:type" content="website">
    <meta name="og:description" content="Check the availability of usernames on a variety of platforms.">
    <meta name="og:url" content="https://checker.raffsimms.com">
    <meta name="theme-color" content="#ffd900">
</head>

<body>
    <section class="content">
        <div class="header">
            <h1>Social Scanner 📡</h1>
            <p>Check the availability of usernames on a variety of online platforms.</p>
        </div>
        <div class="main">
            {{!-- input form --}}
            <form action="/" role="form" method="POST">
                <input type="text" name="username" class="form-control" id="username" placeholder="Username"
                    style="margin-bottom: 1em;">
                <button type="submit" class="submit-button">CHECK USERNAME</button>
            </form>

            {{!-- error response --}}
            {{#if error}}
            <div class="error-response">
                <p>Error: {{error}}</p>
            </div>
            {{/if}}

            {{!-- results display --}}
            {{#if mediums}}
            {{#if username}}
            <h2 class="result-string">Results for username <span style="color: gold;">{{username}}</span></h2>
            {{/if}}
            <div class="results">
                {{#each mediums}}
                <a href="{{this.link}}" target="_blank"
                    class="result {{#if this.available}}available{{else}}unavailable{{/if}}">
                    <i class="{{this.icon}} fa-lg"></i>
                    <h3>{{this.name}}</h3>
                    {{#if this.available}}
                    <p>AVAILABLE</p>
                    {{else}}
                    <p>UNAVAILABLE</p>
                    {{/if}}
                </a>
                {{/each}}
            </div>
            {{/if}}

        </div>
        <div class="footer">
            <p>Made with ❤️ by <a href="https://raffsimms.com" target="_blank">Raff Simms</a></p>
        </div>
    </section>
</body>

</html>